body {
  background-color: #ae223e;
}
nav {
  background-color: #006962;
}
.page-title {
  color: beige;
}

.svg {
  fill: #006962;
  width: 30px;
  height: 30px;
  display: block;
}

.new-product {
  color: #ffffff;
  background-color: #82f4d3;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  // flex-wrap: wrap;
}

.add-form-column {
  min-width: 400px;
}

