.all-products-section {
  width: 1300px;
  margin: 0px auto;
}

.all-products-section-title {
  /* margin: 0px auto; */
  text-align: center;
}

.all-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.one-product-item {
  display: block;
  position: relative;
  width: 250px;
  background-color: #e6dcdc;
  margin-bottom: 10px;
  cursor: pointer;
}

.one-product-image {
  display: block;
  width: 250px;
  height: 250px;
}

.hoover-change-product {
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  background-color: rgba(255, 165, 0, 0.5);
}

.one-product-item:hover .hoover-change-product {
  visibility: visible;
}

.popular-product {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('http://localhost:8080/src/img/yellow-star.png');
  background-size: 50px 50px; 
  position: absolute;
  top: 0px;
  left: 100%;
  transform: translateX(-100%)
}

.change-product-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manage-btn{
  width: 50px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: green;
  color: white;
  margin: 0px auto;
}

/* .popular-true {
  background: url('http://localhost:8080/src/img/yellow-star.png'), 50px, 50px;
} */

.popular-false {
  visibility: hidden;
}
