.all-products-section {
  width: 1300px;
  margin: 0px auto;
}

.all-products-section-title {
  /* margin: 0px auto; */
  text-align: center;
}

.all-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.one-product-item {
  display: block;
  width: 250px;
  background-color: #e6dcdc;
  margin-bottom: 10px;
}

.one-product-image {
  display: block;
  width: 250px;
  height: 250px;
}