<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/slick-carousel/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/slick-carousel/slick/slick-theme.css"
    />
    <link rel="stylesheet" type="text/css" href="page.scss" />
  </head>
  <body>
    <%= require('html-loader!../partials/nav.html') %>
    <img class="sale" src="../img/sale/sale-02.jpg" alt="" />

    <section class="catalog container" id="woman">
      <div class="catalog__block">
        <div class="catalog__column">
          <h2 class="catalog__h2">Woman collections</h2>
          <p class="catalog__p">
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution. User generated content in real-time will
          </p>

          <a href="women.html" class="catalog__button">View details</a>
        </div>
        <div class="catalog__image">
          <img
            src="../img/about/Layer41.jpg"
            class="catalog__img"
            width="470px"
            height="507px"
          />
          <div class="catalog__overlay"></div>
        </div>
      </div>
    </section>
    <section class="catalog container" id="man">
      <div class="catalog__block">
        <div class="catalog__image">
          <img
            src="../img/about/man cart.jpg"
            class="catalog__img"
            width="470px"
            height="507px"
          />
          <div class="catalog__overlay"></div>
        </div>
        <div class="catalog__column">
          <h2 class="catalog__h2">Man collections</h2>
          <p class="catalog__p">
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution. User generated content in real-time will
          </p>

          <a href="men.html" class="catalog__button">View details</a>
        </div>
      </div>
    </section>
    <section class="catalog container" id="kids">
      <div class="catalog__block">
        <div class="catalog__column">
          <h2 class="catalog__h2">Kids collections</h2>
          <p class="catalog__p">
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution. User generated content in real-time will
          </p>
          <a href="kids.html" class="catalog__button">View details</a>
        </div>
        <div class="catalog__image">
          <img
            src="../img/about/kids cart.jpg"
            class="catalog__img"
            width="470px"
            height="507px"
          />
          <div class="catalog__overlay"></div>
        </div>
      </div>
    </section>
    <section class="slider__bottom container">
      <div class="slider__bottom--center">
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">We Thought of you</h2>
          <p class="slider__bottom--p1">
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthroughs from DevOps. Nanotechnology immersion along the
            information highway will close the loop on focusing solely on the
            bottom line.
          </p>
          <p class="slider__bottom--p2">Nandy Sweety</p>
          <p class="slider__bottom--p3">Ui Designer</p>
        </div>
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">Progressive management</h2>
          <p class="slider__bottom--p1">
            This was a typical retail management position except with an
            energetic positive atmosphere. The hardest part of the job for me
            was trying to move up in the company and to meet upper management's
            expectations. .
          </p>
          <p class="slider__bottom--p2">Erick Grossman</p>
          <p class="slider__bottom--p3">Advertisement Manager</p>
        </div>
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">About administration</h2>
          <p class="slider__bottom--p1">
            Everyday I happily did a task or job outside my Sr. Admin Assistant
            job description. Admin Assistants at Nike do everything and are
            really the nucleus of each department. They should be recognized and
            get compensated for all the work that falls their way.
          </p>
          <p class="slider__bottom--p2">Bob Dylan</p>
          <p class="slider__bottom--p3">Senior developer</p>
        </div>
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">QA statement</h2>
          <p class="slider__bottom--p1">
            Nike helped me come out of my shell but also helped me reinforce my
            warehouse skills when i would receive shipments and i would have to
            audit the shipment. But i can really say Nike has helped me frow
            personally
          </p>
          <p class="slider__bottom--p2">Spencer Osborne</p>
          <p class="slider__bottom--p3">QA Engineer</p>
        </div>
      </div>
      <ul class="news__list container">
        <li class="news__item">
          <img class="news__img" src="../img/about/news-01.jpg" alt="" />
        </li>
        <li class="news__item">
          <img class="news__img" src="../img/about/news-02.jpeg" alt="" />
          <img class="news__img" src="../img/about/news-03.png" alt="" />
        </li>
        <li class="news__item">
          <img class="news__img" src="../img/about/news-04.png" alt="" />
        </li>
      </ul>
    </section>
    </div>
  </section>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/modal.html') %>
  </body>
</html>
