<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/slick-carousel/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/slick-carousel/slick/slick-theme.css"
    />
    <link rel="stylesheet" type="text/css" href="page.scss" />
  </head>
  <body>
    <%= require('html-loader!../partials/nav.html') %>
    <img class="sale" src="../img/sale/sale-02.jpg" alt="" />
    <div class="about-collage container">
      <div class="about-collage__img">
        <img
          class="collage__img"
          src="../img/home/collection-01.jpg"
          alt=""
          width="400"
        />
      </div>
      <div class="about-collections">
        <section class="about-women about">
          <div class="about__info">
            <h2 class="about__title">Women's Collections</h2>
            <p class="about__subtitle">
              The Nike Free line is famous for shoes that are as light as racing
              flats, let toes flex naturally, and keep your feet close to the
              ground. They’re among the best running Nike shoes for women
              looking for a more natural or minimalist shoe, or who just want to
              strengthen underused foot muscles a few times a week.
            </p>
            <div class="button-box">
              <button class="about__button">View details</button>
            </div>
          </div>
          <img class="about__img" src="../img/about/about-women.jpg" alt="" />
        </section>

        <section class="about-men about">
          <img class="about__img" src="../img/about/about-men.jpg" alt="" />
          <div class="about__info">
            <h2 class="about__title">Men's Collections</h2>
            <p class="about__subtitle">
              Imagine a world where every runner gets faster. Pretty exciting.
              But also a hearty challenge, given the presumed hurdle of injury.
              But are injuries actually inevitable? The question spurred Nike to
              focus efforts on the potential of reducing runner injury, and its
              newest running shoe, the Nike React Infinity Run, is a step toward
              that objective.
            </p>
            <div class="button-box">
              <button class="about__button">View details</button>
            </div>
          </div>
        </section>

        <section class="about-kids about">
          <div class="about__info">
            <h2 class="about__title">Children's collections</h2>
            <p class="about__subtitle">
              The experience of shoe-shopping for young kids is deceptively
              complex. At first glance, it’s all about the child – but as many
              parents know, it can be just as much an experience for them. The
              reasons why are universal: Kids’ feet are continually growing, and
              many kids can’t articulate what they want, even after shoebox
              after shoebox comes out of the backroom.
            </p>
            <div class="button-box">
              <button class="about__button">View details</button>
            </div>
          </div>
          <img class="about__img" src="../img/about/about-kids.jpg" alt="" />
        </section>
      </div>
    </div>

    <section class="slider__bottom">
      <div class="slider__bottom--center">
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">We Thought of you</h2>
          <p class="slider__bottom--p1">
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthroughs from DevOps. Nanotechnology immersion along the
            information highway will close the loop on focusing solely on the
            bottom line.
          </p>
          <p class="slider__bottom--p2">Nandy Sweety</p>
          <p class="slider__bottom--p3">Ui Designer</p>
        </div>
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">Progressive management</h2>
          <p class="slider__bottom--p1">
            This was a typical retail management position except with an
            energetic positive atmosphere. The hardest part of the job for me
            was trying to move up in the company and to meet upper management's
            expectations. .
          </p>
          <p class="slider__bottom--p2">Erick Grossman</p>
          <p class="slider__bottom--p3">Advertisement Manager</p>
        </div>
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">About administration</h2>
          <p class="slider__bottom--p1">
            Everyday I happily did a task or job outside my Sr. Admin Assistant
            job description. Admin Assistants at Nike do everything and are
            really the nucleus of each department. They should be recognized and
            get compensated for all the work that falls their way.
          </p>
          <p class="slider__bottom--p2">Bob Dylan</p>
          <p class="slider__bottom--p3">Senior developer</p>
        </div>
        <div class="slider__bottom--item">
          <h2 class="slider__bottom--h2">QA statement</h2>
          <p class="slider__bottom--p1">
            Nike helped me come out of my shell but also helped me reinforce my
            warehouse skills when i would receive shipments and i would have to
            audit the shipment. But i can really say Nike has helped me frow
            personally
          </p>
          <p class="slider__bottom--p2">Spencer Osborne</p>
          <p class="slider__bottom--p3">QA Engineer</p>
        </div>
      </div>
    </section>

    <section class="about-news containe">
      <ul class="news__list">
        <li class="news__item">
          <img class="news__img" src="../img/about/news-01.jpg" alt="" />
        </li>
        <li class="news__item">
          <img class="news__img" src="../img/about/news-02.jpeg" alt="" />
          <img class="news__img" src="../img/about/news-03.png" alt="" />
        </li>
        <li class="news__item">
          <img class="news__img" src="../img/about/news-04.png" alt="" />
        </li>
      </ul>
    </section>
  </section>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/modal.html') %>
  <%= require('html-loader!../partials/cart.html') %>
  </body>
</html>
