<footer class="footer" id="contact-us">
  <div class="footer-information container">
    <div class="footer-about">
      <h2 class="footer-about__title">About Sneakers</h2>
      <p class="footer-about__description">
        With the trust we have built with all of you over the years it is with
        great pleasure to serve you as a source for supplying you the latest
        sneakers. We hope to give our customers the greatest buying experience
        that any site can deliver. We look forward to serving you with
        delivering the hottest shoes, with the fastest delivery, and the best
        customer service.
      </p>
    </div>
    <div class="footer-info">
      <div class="footer-contact">
        <h2 class="footer-contact__title">Contact Info</h2>
        <p class="footer-contact__address">
          00532, 19th Street, San Francisco, CA 97210, United States of America
        </p>
        <p class="footer-contact__phones">+ 1 315-250-6788</p>
        <p class="footer-contact__time">We are open: Mn-Fr: 10AM - 8PM</p>
        <p class="footer-contact__email">info@sneakers.org</p>
      </div>

      <div class="footer-form">
        <h2 class="footer-form__title">Newsletter</h2>
        <p class="footer-form__about">
          Subscribe to receive updates, access to exclusive deals, and more.
        </p>
        <form class="form" action="#">
          <input
            class="form__input"
            type="email"
            name="email"
            placeholder="Enter your e-mail address &#42;"
            required
          />
          <button class="form__button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-nav container">
    <ul class="footer-navigation">
      <li class="footer-navigation__item">
        <a href="index.html" class="footer-navigation__link">Home</a>
      </li>
      <li class="footer-navigation__item">
        <a href="#new-collection" class="footer-navigation__link"
          >New Collection</a
        >
      </li>
      <li class="footer-navigation__item">
        <a href="men.html" class="footer-navigation__link">Men</a>
      </li>
      <li class="footer-navigation__item">
        <a href="women.html" class="footer-navigation__link">Women</a>
      </li>
      <li class="footer-navigation__item">
        <a href="kids.html" class="footer-navigation__link">Kids</a>
      </li>
      <li class="footer-navigation__item">
        <a href="about.html" class="footer-navigation__link">About</a>
      </li>
    </ul>
    <p class="footer-nav__title">
      Copyright &#169; 2019. All Right Reserved. Sneakers.
    </p>
  </div>
</footer>
