
<!-- Trigger/Open The Modal -->
<!-- <button class="myBtn" id="myBtn">Open Modal</button> -->

<!-- <a href="admin-home.html" class="myBtn" id="myBtn"></a> -->
<!-- The Modal -->
<div id="isModal" class="modal">
   <!-- Modal content -->
   <div class="modal-content">
<span class="close-modal">&times;</span>
<form action="action_page" method="post" id="register">
  <div class="container__form">
    <label for="uname"><b>User email</b></label>
    <input id="userName" type="text" placeholder ="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input id= "userPassword" type="password" placeholder ="Enter Password" name="psw" required>

    <button class="myBtn" id = "userRegister" type = "submit">Register</button>

    <button class="myBtn" id = "userLogin" type ="submit">Login
    </button>
  </div>
    <div class="container__form" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
  </div>

</form>

</div>
</div>
<!--END The Modal HTML-->
