<header class="header">
  <nav class="nav container">
    <a href="#" class="site__logo">
      <img src="../img/logo.png" alt="logo" class="logo" width="200" />
    </a>
    <ul class="site-navigation">
      <li class="site-navigation__item">
        <a href="index.html" class="site-navigation__link">Home</a>
      </li>
      <li class="site-navigation__item">
        <a href="#new-collection" class="site-navigation__link"
          >New Collection</a
        >
      </li>
      <li class="site-navigation__item">
        <a href="men.html" class="site-navigation__link">Men</a>
      </li>
      <li class="site-navigation__item">
        <a href="women.html" class="site-navigation__link">Women</a>
      </li>
      <li class="site-navigation__item">
        <a href="kids.html" class="site-navigation__link">Kids</a>
      </li>
      <li class="site-navigation__item">
        <a href="about.html" class="site-navigation__link">About</a>
      </li>
      <li class="site-navigation__item">
        <a href="#contact-us" class="site-navigation__link">Contact Us</a>
      </li>
      <li class="site-navigation__item" id='insert-before'>
        <a href="#" id="myBtn" class="site-navigation__link">Log in</a>
      </li>
      <li class="site-navigation__item">
        <button class="site-navigation__button button-cart">
          <svg
            class="site-navigation__icon"
            data-action="openChartSVG"
            width="18px"
            height="18px"
          >
            <use
              href="../img/sprite.svg#icon-cart"
              data-action="openChart"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</header>
