<header class="header">
  <nav class="nav container">
    <a href="#" class="site__logo">
      <img src="../img/logo.png" alt="logo" class="logo" width="200" />
    </a>
    <ul class="site-navigation">
      <li class="site-navigation__item">
        <a href="index.html#home" class="site-navigation__link">Home</a>
      </li>
      <li class="site-navigation__item">
        <a
          href="new-collection.html#new-collection"
          class="site-navigation__link"
          >New Collection</a
        >
      </li>
      <li class="site-navigation__item">
        <a href="men.html#men" class="site-navigation__link">Men</a>
      </li>
      <li class="site-navigation__item">
        <a href="women.html#women" class="site-navigation__link">Women</a>
      </li>
      <li class="site-navigation__item">
        <a href="kids.html#kids" class="site-navigation__link">Kids</a>
      </li>
      <li class="site-navigation__item">
        <a href="about.html#about" class="site-navigation__link">About</a>
      </li>
      <li class="site-navigation__item">
        <a href="#contact-us" class="site-navigation__link">Contact Us</a>
      </li>
      <li class="site-navigation__item">
        <a href="#log-in" class="site-navigation__link">Log in</a>
      </li>
      <li class="site-navigation__item">
        <button class="site-navigation__button">
          <svg class="site-navigation__icon" width="18px" height="18px">
            <use href="../img/sprite.svg#icon-cart"></use>
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</header>
<!-- <nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="admin-home.html">AdminHome</a></li>
    <li><a href="admin-products.html">AdminProducts</a></li>
    <li><a href="categories.html">Categories</a></li>
    <li><a href="new-collection.html">Collection</a></li>
    <li><a href="men.html">Men</a></li>
    <li><a href="women.html">Women</a></li>
    <li><a href="kids.html">Kids</a></li>
  </ul>
</nav> -->
