<section class="main-collection" id="#">
  <section class="new-collection container">
    <h2 class="new-collection__mein-title">Men's New Releases</h2>
    <div class="new-collection__about">
      <img src="../img/home/new-01.jpg" alt="" width="550" height="400" />
      <div class="new-collection__description">
        <h3 class="new-collection__title">
          Whether you’re a connoisseur of wet-weather wears, or just wanna keep
          your toes toasty in style, this fusion of the iconic Nike Air Force 1
          and game-changing GORE-TEX material could be your go-to sneaker for
          many seasons to come.
        </h3>
        <p class="new-collection__paragraph">
          Now, Nike has teamed up with GORE-TEX to retool the classic silhouette
          with a street-approved design that meets the standards of GORE-TEX
          waterproof technology. A mixture of textile and full-grain leather on
          the upper adds breathability and gives a premium look, while the
          GORE-TEX inner sleeve keeps the foot warm, snug and dry.
        </p>
        <p class="new-collection__more">
          Get the latest innovations and styles with men's new releases from
          Nike. Browse the latest men’s releases for all sports, including
          running, training, soccer and more. Shop the most up-to-date
          collections of Nike shoes, clothing and accessories, or explore a wide
          selection of colorways and patterns to help create a look perfect for
          your style. Be sure to check out new releases for women and kids.
        </p>
      </div>
      <div class="button-box">
        <button class="view-now">View Now</button>
      </div>
    </div>
  </section>
  <section class="collection container" id="new-collection">
    <h2 class="collection-title container">New Collection</h2>
    <ul class="features-list"></ul>
  </section>

  <section class="women-collection container">
    <h2 class="women-collection__mein-title">Women's Tennis Shoes</h2>
    <div class="women-collection__about">
      <div class="women-collection__description">
        <h3 class="women-collection__title">
          Rule the court with speed and power when you lace up in Nike women’s
          tennis shoes. The Women's Training Shoe has a stronger heel than ever
          before, plus extra cushioning that hugs and contains your foot. The
          sole is still unbelievably flexible, offering a natural, lightweight
          feel and lateral support through every rep.
        </h3>
        <p class="women-collection__paragraph">
          All shoes are designed for comfort and exceptional traction for a wide
          range of court surfaces like clay, hard or grass courts. Equipped with
          Nike Zoom, Lunar cushioning and Flywire innovations, you can find the
          perfect pair of practice, on-court or off-court shoes to fit your
          needs. Pair your tennis shoes with a skirt to feel cool on the court
          or add a sweat-wicking visor that will keep you focused on dominating
          your opponent.
        </p>
        <p class="women-collection__paragraph">
          Nike women's running shoes are designed with innovative features and
          technologies to help you run your best, whatever your goals and skill
          level. For a minimalist like shoe, try a natural style. Nike cushioned
          shoes are plush for a softer landing. And responsive styles are both
          lightweight and springy. If you’re gearing up for competition, shop
          the selection of women's racing shoes. Find the right pair of Nike
          women’s running shoes for you and train for your best race with Nike+
          Run Club Training Plans. Learn about common running myths around
          plantar fasciitis, barefoot running and pronation running shoes from
          the Nike+ Run Club.
        </p>
        <p class="new-collection__more">
          Keep your wardrobe looking fresh with women's new releases from Nike.
          Shop for the most up-to-date looks in running, training, sportswear
          and more. Find the latest collections of Nike shoes, clothing and
          accessories. Browse the wide selection of colorway and pattern options
          so you can mix and match your favorites to create a look perfect for
          you, and be sure to check out new releases for men and kids.
        </p>
      </div>
      <img src="../img/home/new-05.jpg" alt="" width="550" height="400" />

      <div class="women__button-box">
        <button class="view-now">View Now</button>
      </div>
    </div>
  </section>
</section>
