<section class="main-collection" id="#">
  <section class="new-collection container">
        <div class="new-collection__about">
              <img src="../img/collection_img.png" alt="">
              <div class="new-collection__description">
                <h2 class="new-collection__title">Nike Air Force One MID id

                </h2>
                <p class="new-collection__paragraph">Bring to the table win-win survival
                  strategies to ensure proactive domination.
                  At the end of the day, going forward,
                </p>
              </div>
              <div class="button-box">
              <button class="view-now">View Now</button>
              </div>
        </div>
  </section>
  <section class="collection container">
    <h2 class="collection-title container">New collection</h2>
          <ul class="features-list">

          </ul>
  </section>
</section>
