<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%= require('html-loader!../partials/nav.html') %>
    <section class="main-collection" id="#">
      <section class="new-collection container">
        <div class="new-collection__about">
          <img src="./img/collection_img.png" alt="" />
          <div class="new-collection__description">
            <h2 class="new-collection__title">Nike Air Force One MID id</h2>
            <p class="new-collection__paragraph">
              Bring to the table win-win survival strategies to ensure proactive
              domination. At the end of the day, going forward,
            </p>
          </div>
          <div class="button-box">
            <button class="view-now">View Now</button>
          </div>
        </div>
      </section>
      <section class="collection container">
        <h2 class="collection-title container">New collection</h2>
        <ul class="features-list"></ul>
      </section>
    </section>

    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>
