<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%= require('html-loader!../partials/modal.html') %> <%=
    require('html-loader!../partials/nav.html') %>
    <img
      class="page-men"
      src="../img/men/men-01.jpeg"
      alt=""
      width="1600"
      height="1236"
    />

    <div class="block2 banner-men">
      <ul class="img_list2 container men-field"></ul>
      <div id="myModal" class="modal2">
        <div class="card2">
          <span class="close2">&times;</span>
          <div class="imgWrapper">
            <img class="img_modal2" />
          </div>
          <h1 class="product2"></h1>
          <p class="price2"></p>
          <p class="description2"></p>
          <p><button class="btn_card2">Add to Cart</button></p>
        </div>
      </div>
    </div>
    <%= require('html-loader!../partials/cart.html') %> <%=
    require('html-loader!../partials/footer.html') %>
  </body>
</html>
