.modal-cart {
  padding: 5px 5px;
  position: fixed;
  border-radius: 10px;
  top: 70px;
  right: -500px;
  width: 350px;
  min-height: 50px;
  z-index: 11111;
  background: #d3d3d3;
  visibility: hidden;
  transition: .5s ease-in-out;
}
// calc(100% - 116px);
.modal-cart.show {
  visibility: visible;
  transform: translateX(-510px);
}
.modal-cart__title{
  display: inline-block;
  width: 200px;
  font-family: 'Montserat', serif;
  color: #222222;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 50px;
}
.cart-list{
  list-style: none;
}
.modal-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #82f4d3;
  padding: 4px 4px;
  border-radius: 4px;
}
.cart-item{
  position: relative;
  padding: 5px 10px;
}
.cart-list__img{
  width: 60px;
  height: 60px;
}
.cart-list__name{
  font-family: 'Montserat', serif;
  font-weight: 600;
  color: #000;
  font-size: 20px;
}
.cart-list__price{
  font-family: 'Montserat', serif;
  font-weight: 600;
  color: #000;
  font-size: 20px;
}
.modal-cart__close{
  vertical-align: middle;
  border: none;
  border-radius: 4px;
  background-color: lightsalmon;
  font-family: 'Montserat', serif;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  width: 60px;
  height: 30px;
  margin-bottom: 3px;
}
.del-chart-item{
position: absolute;
 width: 20px;
 height: 20px;
 font-size: 10px;
 color: red;
 right: 10px;
 top: 5px;

}
.modal-dialog{
  overflow-y: initial !important;
}
.modal-body{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
